section {
  background-color: #000019;
}
* {
  font-family: revert;
}
/* NAVBAR */
img.nav-logo {
  width: 200px;
}
.btn.button {
  background: linear-gradient(89.69deg, #ffa133 0.27%, #ad00ff 98.91%);
  border: none;
  color: #fff;
  padding: 14px 30px;
  border-radius: 25px;
  transition: 2s;
  scroll-behavior: smooth;
  margin-left: 20px;
}
.btn.button:hover {
  color: #fff;
  background: linear-gradient(89.69deg, #ffa133 0.27%, #ffa133 91%);
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 27px !important;
  background: linear-gradient(89.69deg, #ffa133 0.27%, #ad00ff 98.91%);
  text-align: center;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-top: var(--bs-dropdown-spacer);
}

/* MAIN */

.main-area {
  padding-top: 70px;
  margin-left: 60px;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(90deg, #ffa133 5%, #ad00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MetaWeb3 */

.card.staking-card {
  width: 25rem;
  display: block;
  margin: 30px auto 20px;
  padding: 10px 5px;
  background-color: rgb(25, 4, 43);
  border: 1px solid rgb(241, 134, 87);
  color: rgb(255, 255, 255);
}

img.ia {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.image-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn.max-button {
  background: linear-gradient(89.69deg, #ffa133 0.27%, #ad00ff 98.91%);
  border: none;
  color: #fff;
  padding: 10px 20px;
  transition: 2s;
  scroll-behavior: smooth;
  margin-left: 20px;
}

.btn.max-button:hover {
  color: #fff;
  background: linear-gradient(89.69deg, #ffa133 0.27%, #ffa133 91%);
}

.btn.approve-button {
  border: 1px solid #ffa133;
  background: #19042b;
  color: #fff;
  display: block;
  margin: 20px auto;
  width: 100%;
  padding: 15px;
  transition: 0.6s ease-in-out;
}

.btn.approve-button:hover {
  background: linear-gradient(89.69deg, #ffa133 0.27%, #ad00ff 98.91%);
  transition-delay: 5s;
  color: #ffff;
}

/* FOOTER */

img.footerimg {
  width: 200px;
}
ul.footer-nav-items {
  display: flex;
  margin-left: -40px;
}
li.nav-item {
  list-style: none;
}

ul.footer-social-items {
  display: flex;
}
li.footer-social-item {
  list-style: none;
  border-left: 1px solid;
}

.footer-social-links {
  margin-top: 25px;
}

a.navLink {
  text-decoration: none;
}


p {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

@media screen and (max-width: 640px) {
  .main-area {
    padding-top: 70px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .card.staking-card {
    width: 20rem;
  }
  ul.footer-nav-items {
    display: block !important;
    text-align: center !important;
    margin: 20px auto;
    padding-top: 20px;
  }
  li.nav-item {
    padding-top: 20px;
  }
  h1.heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 412px) {
  .card.staking-card {
    width: 18rem;
  }
}

@media screen and (max-width: 912px) {
  .main-area {
    text-align: center;
  }
  .footer-social-links {
    margin-top: 10px;
  }
  ul.navbar-nav.nav-social-list {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
  img.footerimg {
    display: block;
    margin: auto;
  }
  ul.footer-social-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  ul.footer-nav-items {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}
